/* CONTENIDOS */

main {
    margin-top: 95px;
}

.boxred {
    background: #F25454;
    padding: 20px 40px;
    text-align: center;
    font-family: Gugi;
    color: #fff;
}

.boxred h1 {
    padding: 5px 0 60px;
    font-size: 80px;
}

.boxred p {
    padding: 5px;
}

.p1{
    margin-top: 60px;
    height: 20px;
}

.p2 {
    font-size: 20px;
}

.boxred img {
    height: 55px;
    padding-bottom: 45px;
}

.innerbox {
    display: inline-block;
    width: 50px;
    height: 20px;
}

.boxred .left {
    left: 100px;
    top: 120px;
    position: absolute;
    height: 400px;
}

.boxred .right {
    right: 110px;
    top: 110px;
    position: absolute;
    height: 400px;
}