@import url('https://fonts.googleapis.com/css?family=Gamja+Flower|Gugi|Ubuntu');


*{
    margin: 0;
    padding: 0;
}

/* MENUS */

header {
    width:100%;
    position: fixed;
    top: 0;
}

/* MENU PRINCIPAL */

header nav ul {
    list-style: none;
    text-align: center;
    background: #F6F6F6;
    border-bottom: solid 2px #C4C4C4;
    z-index: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: block;
    padding: 35px 25px;
    color: #000;
    text-decoration: none;
    background: #F6F6F6;
    font-family: 'Gugi', sans-serif;
    font-size: 20px;
}

header nav ul li a:hover {
    background: #E8E8E8;
}

/* SUBMENUS GENERAL */

header nav ul li ul {
    width: 100%;
    top: 33px;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease;
    border-style: none;
}

header nav ul li ul li a {
    padding: 20px 25px;
    font-size: 17px;
}

header nav ul li:hover > ul{
    top: 95px;
}

/* SUBMENU 1 */

.submenu1 {
    background: #54D8F2;
}

.submenu1 li a {
    background: #54D8F2;
}

.submenu1 li a:hover {
    background: #4DC5DC;
}

/* SUBMENU 2 */

.submenu2 {
    background: #54F267;
}

.submenu2 li a {
    background: #54F267;
}

.submenu2 li a:hover {
    background: #4DDC5E;
}

/* SUBMENU 3 */

.submenu3 {
    background: #F2ED54;
}

.submenu3 li a {
    background: #F2ED54;
}

.submenu3 li a:hover {
    background: #DCD84D;
}

/* SUBMENU 4 */

.submenu4 {
    background: #DD54F2;
}

.submenu4 li a {
    background: #DD54F2;
}

.submenu4 li a:hover {
    background: #C94DDC;
}

/* FOOTER */

